@use '../util' as u;

.card {
  background-image: url('/images/bg-main-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 240px;
  color: u.$white;

  @include u.breakpoint-up(medium) {
    height: 335px;
  }

  @include u.breakpoint-up(large) {
    height: 100%;
    width: 350px;
  }

  @include u.breakpoint-up(x-large) {
    width: 485px;
  }

  &__container {
    padding: 32px 16px;
  }

  .card-box {
    position: relative;
    width: 286px;
    height: 157px;
    border-radius: 5px;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;

    @include u.breakpoint-up(medium) {
      scale: 1.3;
    }

    @include u.breakpoint-up(large) {
      scale: 0.75;
      margin: 0;
      width: 447px;
      height: 246px;
      border-radius: 10px;
    }

    @include u.breakpoint-up(x-large) {
      scale: 1;
    }
  }

  &__back {
    left: 28px;
    padding: 0 25px 0 29px;
    text-align: right;
    display: flex;
    justify-content: end;
    align-items: center;
    background: url('/images/bg-card-back.png');

    @include u.breakpoint-up(medium) {
      top: 64px;
    }

    @include u.breakpoint-up(large) {
      top: 400px;
      left: 149px;
      padding: 0px 40px 0 45px;
    }

    @include u.breakpoint-up(x-large) {
      top: 437px;
      left: 242px;
    }
  }

  &__cvc-number {
    position: relative;
    display: block;
    font-size: u.$fz-sm;
    padding: 8px 12px;
    width: 100%;
    top: 1px;
    background-color: u.$darkGrayishViolet;
    border-radius: 5px;

    @include u.breakpoint-up(large) {
      font-size: 14px;
      padding: 9px 19px 9px;
      top: -3px;
      letter-spacing: 1.3px;
    }
  }

  &__front {
    background: url('/images/bg-card-front.png');
    top: -63px;
    left: -28px;
    padding: 18px 19px;

    @include u.breakpoint-up(medium) {
      top: 29px;
    }

    @include u.breakpoint-up(large) {
      top: -92px;
      left: 55px;
      padding: 28px 33px 0 31px;
    }

    @include u.breakpoint-up(x-large) {
      left: 148px;
    }
  }

  &__circles {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 36px;

    @include u.breakpoint-up(large) {
      gap: 15px;
      margin-bottom: 62px;
    }

    > span {
      display: inline-block;
      border: solid 2px u.$white;
      border-radius: 50%;

      &:first-child {
        width: 30px;
        height: 30px;
        background-color: u.$white;

        @include u.breakpoint-up(large) {
          width: 48px;
          height: 48px;
        }
      }

      &:last-child {
        width: 15px;
        height: 15px;

        @include u.breakpoint-up(large) {
          width: 22px;
          height: 22px;
        }
      }
    }
  }

  &__number {
    letter-spacing: 2.2px;
    margin-bottom: 14px;

    @include u.breakpoint-up(large) {
      letter-spacing: 3.45px;
      margin-bottom: 23.5px;
      font-size: 28px;
    }
  }

  .holder-exp-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: u.$fz-sm;
    text-transform: uppercase;

    @include u.breakpoint-up(large) {
      font-size: 15px;
    }
  }

  &__holder {
    letter-spacing: 0.1px;

    @include u.breakpoint-up(large) {
      letter-spacing: 1.4px;
    }
  }

  &__expiry-date {
    letter-spacing: 0.4px;

    @include u.breakpoint-up(large) {
      letter-spacing: 1.2px;
    }
  }
}
