@use '../util' as u;

.form {
  flex: 1;
  padding: 90px 24px;

  @include u.breakpoint-up(medium) {
    padding: 150px 24px;
  }

  @include u.breakpoint-up(large) {
    padding: 90px 24px;
  }

  &__grid {
    @include u.breakpoint-up(large) {
      display: grid;
      place-items: center;
      height: 100%;
    }
  }

  &__content {
    max-width: 381px;
    margin: auto;

    @include u.breakpoint-up(large) {
      margin: 0;
    }

    &:invalid {
      .from__group-input-container {
        background: u.$invalid;
      }
    }
  }

  &__group {
    label {
      display: block;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1.965px;
      margin-bottom: 8px;
    }

    &-input-container {
      position: relative;
      border-radius: 8px;

      &::before {
        content: '';
        position: absolute;
        inset: -1.15px;
        border-radius: inherit;
        border-radius: 9px;
        background: u.$lightGrayishViolet;
      }

      &:focus-within {
        &::before {
          background: u.$gradient;
        }
      }
    }

    input {
      position: relative;
      display: block;
      width: 100%;
      padding: 11px 15px;
      font-family: inherit;
      font-size: 17px;
      letter-spacing: 0.55px;
      border: 0;
      // border: solid 1px;
      // border-image: u.$gradient 1;
      border-radius: 8px;
      background-color: u.$white;
      cursor: pointer;

      &:focus-visible {
        outline: 0;
      }
    }

    &:not(:last-child) {
      margin-bottom: 19px;

      @include u.breakpoint-up(large) {
        margin-bottom: 25px;
      }
    }

    &-grid {
      display: flex;
      gap: 10px;

      @include u.breakpoint-up(large) {
        gap: 20px;
      }

      &-group {
        &:first-child {
          flex: 1;

          .expiry-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 10px;
            padding: 0;
            margin: 0;
            border: 0;
          }
        }

        &:last-child {
          flex: 1.085;

          @include u.breakpoint-up(large) {
            flex: 1.12;
          }
        }
      }
    }
  }

  &__error-messsage {
    font-size: 12px;
    letter-spacing: 1.965px;
    color: u.$invalid;
  }

  #submit-btn {
    background-color: u.$veryDarkViolet;
    color: u.$white;
    margin-top: 9px;
    padding: 16px;
    border: 0;
    transition: 150ms ease-in-out;

    &:hover {
      opacity: 0.85;
    }

    @include u.breakpoint-up(large) {
      margin-top: 14px;
    }
  }
}
