@use '../util' as u;

.form {
  flex: 1;
  padding: 90px 24px;

  @include u.breakpoint-up(medium) {
    padding: 150px 24px 0;
  }

  @include u.breakpoint-up(large) {
    padding: 273px 24px 0;
  }

  &__grid {
    .attribution {
      margin-top: 5rem;
      font-size: 11px;
      text-align: center;
    }
    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  }

  &__content {
    max-width: 381px;
    margin: auto;

    &:invalid {
      .from__group-input-container {
        background: u.$invalid;
      }
    }
  }

  &__group {
    label {
      display: block;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1.965px;
      margin-bottom: 8px;
    }

    &-input-container {
      position: relative;
      border-radius: 8px;
      padding: 1px;
      background: u.$lightGrayishViolet;

      &:focus-within {
        background: u.$gradient;
      }
    }

    input {
      position: relative;
      display: block;
      width: 100%;
      padding: 11px 15px;
      font-family: inherit;
      font-size: 17px;
      letter-spacing: 0.55px;
      border: 0;
      border-radius: 7px;
      background-color: u.$white;
      cursor: pointer;

      &:focus-visible {
        outline: 0;
      }
    }

    &:not(:last-child) {
      margin-bottom: 19px;

      @include u.breakpoint-up(large) {
        margin-bottom: 25px;
      }
    }

    &-grid {
      display: flex;
      gap: 10px;

      @include u.breakpoint-up(large) {
        gap: 20px;
      }

      &-group {
        &:first-child {
          flex: 1;

          .expiry-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 10px;
            padding: 0;
            margin: 0;
            border: 0;
          }
        }

        &:last-child {
          flex: 1.085;

          @include u.breakpoint-up(large) {
            flex: 1.12;
          }
        }
      }
    }
  }

  &__error-messsage {
    font-size: 12px;
    color: u.$invalid;
  }

  #confirm-btn {
    background-color: u.$veryDarkViolet;
    color: u.$white;
    margin-top: 9px;
    padding: 16px;
    border: 0;
    transition: 150ms ease-in-out;

    &:hover {
      opacity: 0.85;
    }

    @include u.breakpoint-up(large) {
      margin-top: 14px;
    }
  }

  &__complete {
    text-align: center;

    @include u.breakpoint-up(large) {
      margin-top: 31px;
    }

    &-title {
      font-size: 28px;
      letter-spacing: 2.9px;
      margin-top: 28px;
      margin-bottom: 14px;
    }

    &-description {
      letter-spacing: 0.1px;
      color: u.$darkGrayishViolet;
    }

    &-button {
      margin-top: 28px;
      padding: 16px;
      width: 100%;
      font-family: inherit;
      font-size: 17px;
      color: u.$white;
      letter-spacing: 0.5px;
      border: 0;
      background-color: u.$veryDarkViolet;
      border-radius: 8px;
      cursor: pointer;
      transition: 150ms ease-in-out;

      &:hover {
        opacity: 0.85;
      }
    }
  }

  .display {
    display: block;
  }

  .remove {
    display: none;
  }
}
