@use '../util' as u;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: u.$ff-spaceGrotesk;
  font-size: u.$fz-med;
  font-weight: 500;
  line-height: 1.4;
  background-color: var(--white);
}

.app {
  background-image: url('/design/mobile-design.jpg'); // has to be deleted at the end
  background-repeat: no-repeat; // has to be deleted at the end
  background-size: contain; // has to be deleted at the end
  height: 800px; // has to be deleted at the end

  @include u.breakpoint-up(large) {
    display: flex;
    height: 900px; // min() could work here
    background-image: url('/design/desktop-design.jpg'); // has to be deleted at the end
  }
}
