@use '../util' as u;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: u.$ff-spaceGrotesk;
  font-size: u.$fz-med;
  font-weight: 500;
  line-height: 1.4;
  background: u.$white;

  @include u.breakpoint-up(large) {
    background: linear-gradient(
      90deg,
      u.$veryDarkViolet 20%,
      u.$white,
      u.$white,
      u.$white
    );
  }
}

.app {
  background-color: u.$white;
  height: 800px;

  @include u.breakpoint-up(large) {
    display: flex;
    gap: 120px;
    height: 900px;
  }
}
